{% extends 'Scientists/base.html' %}
{% block content %}
<p class="Nothing">
    <tab>&nbsp;&nbsp;&nbsp;&nbspДанный сайт посвящён учёным!
        Он является тестовым, и каждый может добавить информацию об учёном на сайт.
        Нужно только зарегистрироваться. Возможно, в будущем будет улучшение этого сайта до полноценного.
        Сайт создан на Django.
        По всем вопросам писать в <a href="https://vk.com/saveliy.guryanov" target="_blank">вк</a>
        или по <a href="{% url 'contact' %}">обратной связи</a>!
</p>
{% endblock %}