{% extends 'main/main_base.html' %}
{% load static %}
{% load Scientists_tags %}
{% block left-list %}
<td valign="top" class="left-chapters">
    <ul id="leftchapters">
        {% if selected == 0 %}
        <li class="selected">Все учёные</li>
        {% else %}
        <li><a href="{% url 'home' %}">Все учёные</a></li>
        {% endif %}
        {% for cat in cats %}
        {% if selected == cat.id %}
        <li class="selected">{{cat.name}}
        <li>
            {% else %}
        <li><a href="{{ cat.get_absolute_url }}">{{cat.name}}</a></li>
        {% endif %}
        {% endfor %}
    </ul>
</td>
{% endblock %}
{% block mainmenu %}
		<div class="header">
			<ul id="mainmenu" class="mainmenu">
        <li><a href="{% url 'home' %}" class="GG_Science">GG Science</a></li>
                <li><a href="{% url 'addpage' %}">Добавить учёного</a></li>
        {% menu %}
                <li><a href="{% url 'science' %}">К публикациям</a></li>
			</ul>
			<div class="clear"></div>
		</div>
{% endblock %}