{% extends 'Scientists/base.html' %}
{% block content %}
<ul class="list-articles">
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <div class="article-panel">
            <p class="first">Категория: {{p.cat.name}}</p>
            <p class="last">Дата последнего обновления: {{p.time_update|date:"d-m-Y H:i:s"}}</p>
        </div>
        {% if p.photo %}
        <p><img class="img-article-left thumb" src="{{ p.photo.url }}">
            {% endif %}
    <li><h2>{{p.title}}</h2>
        {% autoescape on %}
        {{p.content|linebreaks|truncatewords:50}}
        {% endautoescape %}
        <div class="clear"></div>
        <div class="actions-post">
            <p class="link-delete-post"><a href="{% url 'delete' p.slug %}">Удалить пост</a></p>
            <p class="link-update-post"><a href="{% url 'update' p.slug %}">Обновить пост</a></p>
            <p class="link-read-post"><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        </div>
    </li>
    {% endif %}
    {% endfor %}
</ul>
{% endblock %}