{% extends 'Scientists/base.html' %}
{% block content %}
{% if not user.is_authenticated %}
<form method="post">
    {% csrf_token %}
    <div class="form-error">{{ form.non_field_errors }}</div>
    {% for f in form %}
    <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
    <div class="form-error">{{ f.errors }}</div>
    {% endfor %}
    <button type="submit" class="registration">Регистрация</button>
</form>
{% else %}
<p>Вы уже авторизованы!</p>
{% endif %}
{% endblock %}