{% extends 'main/base.html' %}
{% block content %}
<div class="col-md-10">
    <h1 class="text-center">Корзина</h1>
    {% if cart.cost > 0 %}
    <h2 class="text-center">Общая стоимость: {{cart.cost}} рублей!</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Наименование</th>
            <th scope="col">Миниатюра</th>
            <th scope="col">Количество</th>
            <th scope="col">Стоимость</th>
        </tr>
        </thead>
        <tbody>
        {% for product in cart.products.all %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td><a href="{{ product.product.get_absolute_url }}" class="clear_link">{{product.product.name}}</a>
            </td>
            <td><img src="{{product.product.photo.url}}" alt="..." class="mini-photo"></td>
            <td>
                <form method="post">
                    {% csrf_token %}
                    <input type="number" name='{{product.product.slug}}' value="{{product.value}}">
                </form>
            </td>
            <td>{{product.cost}} руб.</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{% url 'order' %}" class="btn btn-secondary">Оформить заказ</a>
    {% else %}
    <h2>Ваша корзина пуста!</h2>
    {% endif %}
</div>
{% endblock %}