.categories{
    float:left;
    height: 100vh;
}
.anegdots{
    height: 100%;
    font-size: 23px;
}
.anegdots h5{
    font-size: 27px;
}
.anegdot{
    height: 100%;
    font-size: 23px;
}
.anegdot h5{
    font-size: 27px;
}
.selected{
    color: blueviolet;
}
.categories .card-body a{
    text-decoration: None;
    font-size: 23px;
    color: black;
}

.rating button{
    float: left;
    margin-left: 2px;
    border-radius: 50%;
    font-size:30px;
    width: 50px;
    margin-top: 1px;
    border: 0;
    background: blueviolet;
    color: #fff;
    position: relative;
    top: -2px;
}
.btn-primary{
    float:left;
}
.rating h5{
    margin-left: 2px;
    float: left;
    font-size: 25px;
    position: relative;
    top: 5px;
}

.current{
    font-size: 26px;
}

.step-links a{
    text-decoration: none;
    font-size: 25px;
}